.sec2 {
  position: relative;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.centro {
  width: 80%;
  margin: 2rem auto;
  height: 35rem;
  position: relative;
  top: 2rem;
  padding: 5px;
}

.centro::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #dbf2fd;
  position: absolute;
  opacity: 0.5;
  -webkit-box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
  -moz-box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
  box-shadow: 10px 10px 16px 0px rgba(62, 93, 173, 1);
}

.con-trian2 {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.trian2 {
  clip-path: polygon(100% 0, 0 0, 28% 39%);
  width: 30rem;
  height: 30rem;
  background: #3e5dad;
}

.contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: "izq sup sup sup sup sup"
                         "izq tex tex tex tex der"
                         "izq tex tex tex tex der"
                         "izq tex tex tex tex der"
                         "izq tex tex tex tex der"
                         "izq inf inf inf inf inf";
}
.izq{
    width: 50%;
    height: 100%;
    border: #68ad3e solid;
    grid-area: izq;
}
.sup{
    width: 100%;
    border: blue solid;
    grid-area: sup;
}

.tex{
    width: 100%;
    border: brown solid;
    grid-area: tex;
}

.der{
    width: 100%;
    border: cadetblue solid;
    grid-area: der;
}

.inf{
    width: 100%;
    border: black solid;
    grid-area: inf;
}